header {
	padding: 16px 40px;
	background: #a4d2de;
	line-height: 50px;
	overflow: hidden; /* contain floated content */
}
	.site_title {
		position: absolute;
		left: 34px;
		top: 0;
		background: url("../img/311_service_tracker_logo.png");
		width: 279px;
		height: 123px;
		text-indent: -100em;
		overflow: hidden;
	}
	
	header form {
		float: right;
		display: inli/*  */ne-block;
		margin: 0 0 0 20px;
		position: relative;
		top: -3px;
	}
	
		header .search_field {
			width: 260px;
		}
		
		header .submit {
			min-width: 106px;
		}
	
		#request_id_label {
			/* This will hide it from screen readers, which is bad. Do better. */
			display: none;
		}

.main_content {
	padding: 0 40px;
}

.main_content_indent {
	padding: 0 40px;
	margin-top: 100px;
}



h1 {
	font-family: Arvo, Helvetica, Arial, sans-serif;
	font-size: 32px;
}

input {
	font-family: Helvetica, Arial, sans-serif;
}

.status_indicator {
	font-family: ArvoBold, Helvetica, Arial, sans-serif;
	color: #fff;
	background: #d20a21;
	padding: 10px 20px;
}
.status_indicator.status-closed {
	background: #666;
}
	
	.notes_list {
		margin: 40px 0 0 0;
		padding: 0;
		list-style-type: none;
	}
		.notes_list p {
			margin: 0;
		}
		
		.notes_list .note {
			margin: 0;
			padding: 0 0 20px;
			position: relative;
			min-height: 70px;
			line-height: 20px;
			background: url("../img/blue_line.png") repeat-y 180px 0;
		}
		.notes_list .note:last-child {
			background: none;
		}
		
			.note .datetime {
				display: block;
				width: 130px;
				float: left;
				text-align: right;
				font-size: 16px;
				color: #02bcc8;
			}
			.note-follow_on .datetime {
				font-size: 20px;
				font-weight: bold;
			}
				.note .datetime .date {
					display: block;
				}
				.note .datetime .time {
					font-size: 0.75em;
					display: block;
				}
	
			.note_indicator {
				position: absolute;
				left: 174px;
				top: 2px;
				background: #fde678;
				width: 14px;
				height: 14px;
				-webkit-border-radius: 7px;
				        border-radius: 7px;
			}
	
			.note-follow_on .note_indicator {
				left: 158px;
				top: -14px;
				background-image: url("../img/icon_clipboard.png");
				background-position: 50% 50%;
				background-repeat: no-repeat;
				width: 46px;
				height: 46px;
				-webkit-border-radius: 23px;
				        border-radius: 23px;
			}
			
			.note-follow_on .ongoing {
				color: #933;
				font-style: italic;
			}
			
			.note .details {
				display: block;
				margin-left: 232px;
			}
	
	.request_extras {
		position: relative;
		float: right;
		width: 300px;
		z-index: 1;
	}
	
	.request_details {
		margin-bottom: 20px;
		padding: 24px 24px 1px;
		background: #f6f6f6;
	}
	
		.request_details h2 {
			margin: -24px -24px 16px;
			padding: 4px 24px;
			background: #333;
			color: #fff;
			font-family: Arvo, Helvetica, Arial, sans-serif;
			font-size: 1em;
		}
	
		.request_details dl {
			margin: 0;
			padding: 0;
		}
		
			.request_details dt {
				font-weight: bold;
			}
			.request_details dd {
				margin: 0 0 1em;
				padding: 0;
			}
			