<!DOCTYPE html>
<html class="{% block page_class %}{% endblock %}">
	<head>
		<meta charset="utf-8" />
		<title>{% block page_title %}311 Service Tracker{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/static/arvo-fontfacekit/stylesheet.css" type="text/css" />
			<link rel="stylesheet" href="/static/css/base.css" type="text/css" />
		{% endblock %}
		
		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				{% block page_header %}
					<a href="{{ url_for('index') }}" class="site_title">311 Service Tracker</a>
					<form method="GET" action="{{ url_for('request_search') }}">
						<label id="request_id_label" for="status_lookup">Check the status of:</label>
						<input name="request_id" id="status_lookup" class="search_field" type="text" placeholder="Enter Service Request #" />
						<input type="submit" class="submit" value="Submit" />
					</form>
				{% endblock %}
			</header>
			
			{% block content %}
			{% endblock %}
		{% endblock %}
	</body>
</html>