{% extends "base.html" %}

{% block page_title %}Request a City Service - 311 Service Tracker{% endblock %}

{% block page_class %}create_page{% endblock %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/service_request.css") }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for("static", filename="css/create_service_request.css") }}" type="text/css" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		var BASE_URL = "{{ config.APPLICATION_ROOT or "/" }}";
	</script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&sensor=false"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/create_service_request.js") }}"></script>
{% endblock %}

{% block content %}
	<article class="main_content">
	
		<h1>Request a City Service</h1>

		<form class="sr_form" method="POST" enctype="multipart/form-data">

			<div class="service_info">
				<div class="service_chooser">
					<p>Choose a service type:</p>

					<select id="sr_service_code" name="service_code">
						{% for group_name, services in service_groups.iteritems() %}
							<optgroup label="{{ group_name }}">
								{% for service in services %}
									<option value="{{ service.service_code }}">{{ service.service_name }}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>

					<ul>
						{% for group_name, services in service_groups.iteritems() %}
							<li class="service_group">
								<strong>{{ group_name }}</strong>
								<ul>
									{% for service in services %}
										{# TODO: show service description somewhere (on hover?) #}
										<li class="service" data-service-id="{{ service.service_code }}"><a href="#">{{ service.service_name }}</a></li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>

				<p class="selected_service">Service: <span class="selected_service_name"></span></p>
			</div>

			<div class="sr_details">
				<div class="sr_form_section sr_location_chooser">
					<label for="sr_location">Location</label>
					<div class="address_input">
						<input id="sr_location" name="address_string" type="text" value="" placeholder="Address, e.g. 121 North La Salle Street, Chicago, IL 60602" />
						<input type="hidden" id="sr_lat" name="lat" />
						<input type="hidden" id="sr_long" name="long" />
						<a href="#" class="button gps_button">Find Me</a>
					</div>
					{# TODO: map, geolocation #}
					<div id="sr_map"></div>
				</div>

				<div class="sr_form_section">
					<label for="sr_description">Description</label>
					<textarea id="sr_description" rows="4" name="description"></textarea>

					<input type="file" name="media" />
				</div>

				<div class="sr_form_section sr_attributes">
				</div>

				<fieldset class="sr_form_section sr_requester_info">
					<p class="legend">Contact Information</p>
					<p class="legend-details"><em>This information is not shared publicly. You can also leave this section blank if you wish to submit anonymously.</em></p>

					<label for="sr_personal_first_name">First Name</label>
					<input id="sr_personal_first_name" type="text" name="first_name" />

					<label for="sr_personal_last_name">Last Name</label>
					<input id="sr_personal_last_name" type="text" name="last_name" />

					<label for="sr_personal_email">E-mail</label>
					<input id="sr_personal_email" type="email" name="email" />

					<label for="sr_personal_phone">Phone Number</label>
					<input id="sr_personal_phone" type="tel" name="phone" />
				</fieldset>

				<input type="submit" class="submit" value="Submit Service Request" />
			</div>
	</form>


	</article>
{% endblock %}
