{% extends "base.html" %}

{% block page_title %}No Service Request Found - 311 Service Tracker{% endblock %}

{% block page_class %}detail_page{% endblock %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/service_request.css" type="text/css" />
{% endblock %}

{% block content %}
	<article class="main_content">
		<h1>No Service Request Found for ID {{ rid }}</h1>
		
		<p class="form_help">Don’t know your service request number? Call 311.</p>
		
	</article>
{% endblock %}
