{% extends "base.html" %}

{% block page_title %}No Service Request Found - 311 Service Tracker{% endblock %}

{% block page_class %}detail_page{% endblock %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/service_request.css") }}" type="text/css" />
{% endblock %}

{% block content %}
	<article class="main_content">
		<h1>There was no Service Request found for “{{ request_id }}”</h1>
		
		<p>
			To verify your service request number, please call 311.
		</p>
		
		
		{% if services and services|length > 0 %}
			<p>
				Please note this site only supports the following 311 services:
			</p>
			<ul>
				{% for service in services %}
					<li>{{ service.service_name }}</li>
				{% endfor %}
			</ul>
			<p>
				If you’re interested in another service not listed here, please call 311 to get the latest status updates.
			</p>
		{% else %}
			<p>
				Not all 311 services are supported by this site. If you can't find a service request here, please call 311 to get the latest status on it.
			</p>
		{% endif %}
		
		<form method="GET" action="{{ url_for('request_search') }}" class="in_yo_face">
			<p>
				<label for="request_re_search">If the service request number was incorrect, you can re-enter it here:</label>
			</p>
			
			<input type="text" name="request_id" id="request_re_search" class="search_field" placeholder="Enter service request #" value="{{ request_id }}" />
			<input type="submit" class="submit" value="Submit" />
		</form>

	</article>
{% endblock %}
