{% extends "base.html" %}

{% block page_class %}landing{% endblock %}

{% block stylesheets %}
	{{ super() }}
	<style type="text/css" media="screen">
		body {
			background: #a4d2de url("{{ url_for("static", filename="img/sr_icons.png") }}");
			margin: 0;
			font-family: Helvetica, Arial, sans-serif;
		}
	</style>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		if (window.matchMedia) {
			$(document).ready(function() {
				if (matchMedia("only screen and (max-width: 759px)").matches) {
					$("#search_field").attr("placeholder", "Enter service request #");
				}
			});
		}
	</script>
{% endblock %}

{% block page_header %}<span class="site_title">311 Chicago Service Tracker</span>{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="box">
			<h1>Find out the status of your 311 service request</h1>

			{% set example_id = service_requests and service_requests[0].service_request_id or '12-01516712' %}
			
			<form method="GET" action="{{ url_for('request_search') }}" class="in_yo_face search_form">
				<input type="text" name="request_id" id="search_field" class="search_field" placeholder="Request #, e.g. {{ example_id }}" />
				<input type="submit" class="submit" value="Submit" />
			</form>
			
			<p class="form_help">Don’t know your service request number? Call 311.</p>
		</div>
		
		{% if service_requests %}
			<div class="box request_list">
				<h1>Recently Updated Service Requests</h1>
				
				<table>
					<tbody>
						{# most recent requests first, in order #}
						{% for sr in service_requests|sort(reverse=True, attribute='updated_datetime') %}
							{% if sr.service_request_id %}
								<tr>
									<th><a href="{{ url_for("show_request", request_id=sr.service_request_id) }}">{{ sr.service_name or '?' }}</a></th>
									<td class="number_col"><a href="{{ url_for("show_request", request_id=sr.service_request_id) }}">#{{ sr.service_request_id }}</a></td>
									<td class="number_col time_col"><a href="{{ url_for("show_request", request_id=sr.service_request_id) }}">{{ sr.updated_datetime|friendly_time }}</a></td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
			{% if page != 1 %}
				<a href="{{ url_for("index",page=page-1) }}" style="float : left;">Previous Page</a>
			{% else %}
				Previous Page
			{% endif %}
			<a href="{{ url_for("index",page=page+1) }}" style="float : right;">Next Page</a>
	</div>
{% endblock %}
