<!DOCTYPE html>
<html class="detail_page">
	<head>
		<meta charset="utf-8" />
		<title>{{ sr.service_name }} #{{ sr.service_request_id }} - 311 Service Tracker</title>
		<style>
			article, aside, dialog, figure, footer, header,
			hgroup, menu, nav, section { display: block; }
		</style>
		<link rel="stylesheet" href="/static/arvo-fontfacekit/stylesheet.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/base.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/service_request.css" type="text/css" />
	</head>
	<body>
		
		<header>
			<span class="site_title">311 Service Tracker</span>
			<form method="GET" action="/requests">
				<label id="request_id_label" for="status_lookup">Check the status of:</label>
				<input name="request_id" id="status_lookup" class="search_field" type="text" placeholder="Enter Service Request #" />
				<input type="submit" class="submit" value="Submit" />
			</form>
		</header>
		
		<article class="main_content">
		
		<h1>{{ sr.service_name }} #{{ sr.service_request_id }}</h1>
		<p class="status_indicator status-{{ sr.status }}">{{ sr.status.title() }}</p>
		
		<aside class="request_extras">
			<div class="request_details">
				<h2>Original Request</h2>
				<dl>
					<dt>Service Type:</dt>
					<dd>{{ sr.service_name }}</dd>
					<dt>Description:</dt>
					<dd>{{ sr.description }}</dd>
					<dt>Address:</dt>
					<dd>{{ sr.address.title().split(",", 1)[0] }}<br/>{{ sr.address.title().split(",", 1)[1].replace("Il", "IL") }}</dd>
					<dt>Created:</dt>
					<dd>{{ sr.requested_datetime.strftime('%B %d, %Y') }}</dd>
					{%  if sr.extended_attributes and sr.extended_attributes.channel %}
						<dt>Received:</dt>
						<dd>{{ sr.extended_attributes.channel.title() }}</dd>
					{% endif %}
				</dl>
			</div>
			
			{% if sr.status == 'open' %}
				{% if subscribed %}
				<div class="request_details">
					<h2>You’ve Subscribed</h2>
					<p>
						Thanks for subscribing to updates for this request.
						We’ll e-mail you when work is done on this service request.
					</p>
				</div>
				{% else %}
				<div class="request_details">
					<h2>Stay Up To Date</h2>
					<p>Get notified of any changes to this service request by email.</p>
					<form method="POST" action="/subscribe/{{ sr.service_request_id }}">
						<label for="update_email">E-Mail:</label>
						<input type="email" id="update_email" name="update_email" />
						<input type="submit" value="Notify Me!" />
					</form>
				</div>
				{% endif %}
			{% endif %}
		</aside>
		
		<ol class="notes_list">
			{% for note in sr.notes %}
				{% if (note.type != 'follow_on' or 'Closed' not in note.description) and note.type != 'opened' %}
					<li class="note note-{{ note.type }}">
					
						<div class="note_indicator"></div>
						
						<span class="datetime">
							<span class="date">{{ note.datetime.strftime('%d-%b-%Y') }}</span>
							<span class="time">{{ note.datetime.strftime('%I:%M %p').strip('0') }}</span>
						</span>
						
						<div class="details">
							<p>
								{% if note.type == 'follow_on' %}
									<strong>{{ note.extended_attributes.service_name }}</strong><br/>
									Department: {{ note.extended_attributes.agency_responsible }}
									{% if note.extended_attributes.closed_datetime %}
										<div>
											Completed on {{ note.extended_attributes.closed_datetime.strftime('%d-%b-%Y') }}
											at {{ note.extended_attributes.closed_datetime.strftime('%I:%M %p').strip('0') }}
										</div>
									{% else %}
										<div class="ongoing">
											In progress
										</div>
									{% endif %}
								{% else %}
									{% if note.summary %}<div class="note_summary">{{ note.summary }}</div>{% endif %}
									{% if note.description %}<div class="note_description">{{ note.description }}</div>{% endif %}
								{% endif %}
							</p>
						</div>
					</li>
				{% endif %}
			{% endfor %}
			
			{# And of course the SR itself... #}
			<li class="note note-initial note-follow_on">
				<div class="note_indicator"></div>
				<span class="datetime">
					<span class="date">{{ sr.requested_datetime.strftime('%d-%b-%Y') }}</span>
					<span class="time">{{ sr.requested_datetime.strftime('%I:%M %p').strip('0') }}</span>
				</span>
				<div class="details">
					<p>
						{{ sr.service_name }}<br/>
						Department: {{ sr.agency_responsible }}
						{%  if sr.extended_attributes and sr.extended_attributes.channel %}
							<br/>via {{ sr.extended_attributes.channel.title() }}
						{% endif %}
					</p>
					<p>
						{{ sr.description }}
					</p>
				</div>
			</li>
		</ol>
		
		</article>
		
	</body>
</html>